:root{
    --page-background:white;
    --color:black;
    --btn-bg:black;
    --btn-color:white;
    }
    
    [data-theme="black"]{
        --page-background:black;
    --color:white;
    --btn-bg:white;
    --btn-color:black;
    }
    
    
    .wrapper{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    background-color: var(--page-background);
    transition: all ease-in-out .3s;
    }
    p{
        color: var(--color);
    }
    button{
        background-color: var(--btn-bg);
        color: var(--btn-color);
        outline: none;
        border: none;
        padding: .8rem 1rem;
        cursor: pointer;
        border-radius: .3rem;
    }